Repository nelsonlove/seriesoftubes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

black:
  name: black
  entry: black
  language: system
  pass_filenames: true
  require_serial: true

ruff:
  name: ruff
  entry: ruff check --fix
  language: system
  pass_filenames: true
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true
  require_serial: true

pytest:
  name: pytest
  entry: python -m pytest
  language: system
  pass_filenames: false
  always_run: false
  args:
  - -v
  - --tb=short

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write'
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint --fix'
  language: system
  pass_filenames: true

frontend-typecheck:
  name: frontend typecheck
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false
  require_serial: true

feat: integrate frontend with documentation API
  frontend/src/api/client.ts
  frontend/src/pages/Documentation/DocumentationPage.tsx
Due: prettier, eslint, frontend-typecheck

feat: implement OpenAI structured outputs support
  pyproject.toml
  src/seriesoftubes/providers/openai.py
  tests/test_nodes/test_llm_node.py
  tests/test_nodes/test_schema_validation.py
  tests/test_schema_validation.py
Due: black, ruff, mypy, pytest

fix: improve cache system parameter handling
  src/seriesoftubes/cache/factory.py
  tests/test_cache.py
  tests/test_cache_integration.py
Due: black, ruff, mypy, pytest

fix: frontend improvements and API updates
  frontend/src/App.tsx
  frontend/src/components/YamlEditor/YamlEditorModal.tsx
  frontend/src/pages/Auth/LoginPage.tsx
  frontend/src/types/workflow.ts
  src/seriesoftubes/api/main.py
  tests/test_config.py
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

feat: complete execution status tracking overhaul
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/282f82529b59_add_progress_column_to_executions.py
  frontend/src/api/client.ts
  frontend/src/pages/Executions/ExecutionDetail.tsx
  frontend/src/pages/Executions/ExecutionsPage.tsx
  pyproject.toml
  src/seriesoftubes/api/execution.py
  src/seriesoftubes/api/execution_routes.py
  src/seriesoftubes/api/workflow_routes.py
  src/seriesoftubes/db/models.py
  tests/test_api/test_endpoints.py
  tests/test_execution_status.py
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

feat(frontend): implement layout improvements and theme consistency
  frontend/src/App.tsx
  frontend/src/components/WorkflowList/WorkflowList.tsx
  frontend/src/pages/Executions/ExecutionDetail.tsx
  frontend/src/pages/Workflows/WorkflowsPage.tsx
  src/seriesoftubes/nodes/aggregate.py
  tests/test_cache_integration.py
  tests/test_execution_status.py
  tests/test_nodes/test_aggregate_node.py
  tests/test_nodes/test_foreach_node.py
  tests/test_nodes/test_join_node.py
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

fix: resolve aggregate node bug and add node tests
  tests/test_nodes/test_aggregate_node.py
  tests/test_nodes/test_foreach_node.py
  tests/test_nodes/test_join_node.py
Due: black, ruff, mypy, pytest

refactor: clean up codebase and remove deprecated features
  examples/story-generator-demo.yaml
  src/seriesoftubes/config.py
  src/seriesoftubes/engine.py
  src/seriesoftubes/models.py
  src/seriesoftubes/parser.py
  src/seriesoftubes/providers/openai.py
  src/seriesoftubes/schemas/__init__.py
  src/seriesoftubes/schemas/workflow-schema.yaml
  src/seriesoftubes/utils.py
Due: black, ruff, mypy, pytest

fix: code formatting and minor improvements
  alembic/env.py
  alembic/versions/282f82529b59_add_progress_column_to_executions.py
  scripts/generate_docs.py
  scripts/generate_json_schema.py
  src/seriesoftubes/api/docs_routes.py
  src/seriesoftubes/api/execution.py
  src/seriesoftubes/api/main.py
  src/seriesoftubes/cache/factory.py
  src/seriesoftubes/config.py
  src/seriesoftubes/models.py
  src/seriesoftubes/providers/openai.py
  tests/test_api/test_docs_routes.py
  tests/test_api/test_endpoints.py
  tests/test_cache_integration.py
  tests/test_data_flow_schemas.py
  tests/test_nodes/test_llm_node.py
Due: black, ruff, mypy, pytest

fix: improve parallel execution for transform and aggregate nodes
  src/seriesoftubes/nodes/aggregate.py
  src/seriesoftubes/nodes/transform.py
  tests/test_nodes/test_aggregate_node.py
Due: black, ruff, mypy, pytest

feat: add property-based testing with Hypothesis
  .gitignore
  pyproject.toml
  tests/conftest.py
  tests/test_cache_hypothesis.py
  tests/test_execution_hypothesis.py
  tests/test_nodes/test_data_flow_hypothesis.py
  tests/test_nodes/test_transform_node_hypothesis.py
  tests/test_parser_hypothesis.py
  tests/test_schema_hypothesis.py
Due: black, ruff, mypy, pytest

fix: Add .vite to gitignore
  frontend/.gitignore
Due: none

feat: implement ForEach node subgraph execution
  src/seriesoftubes/engine.py
  src/seriesoftubes/nodes/base.py
  src/seriesoftubes/nodes/foreach.py
  src/seriesoftubes/nodes/transform.py
Due: black, ruff, mypy, pytest

fix: improve workflow dependency validation and join node output format
  src/seriesoftubes/engine.py
  src/seriesoftubes/nodes/join.py
Due: black, ruff, mypy, pytest

fix: resolve test failures in execution status and parser hypothesis
  src/seriesoftubes/nodes/base.py
  src/seriesoftubes/nodes/python.py
  tests/test_parser_hypothesis.py
Due: black, ruff, mypy, pytest

fix: replace flaky timing test with functional parallel execution test
  tests/test_execution_hypothesis.py
Due: black, ruff, mypy, pytest

refactor: complete route to conditional node migration cleanup
  src/seriesoftubes/cli/main.py
  src/seriesoftubes/docs/schema_parser.py
  src/seriesoftubes/schemas/__init__.py
Due: black, ruff, mypy, pytest

feat: implement secure template sandboxing to prevent SSTI attacks
  src/seriesoftubes/nodes/file.py
  src/seriesoftubes/nodes/http.py
  src/seriesoftubes/nodes/llm.py
  src/seriesoftubes/template_engine.py
  tests/test_template_engine.py
Due: black, ruff, mypy, pytest

feat: implement secure Python execution with RestrictedPython
  pyproject.toml
  src/seriesoftubes/models.py
  src/seriesoftubes/nodes/python.py
  src/seriesoftubes/secure_python.py
  tests/test_nodes/test_python_node.py
  tests/test_secure_python.py
Due: black, ruff, mypy, pytest

fix: make all Python security tests pass
  src/seriesoftubes/nodes/python.py
  src/seriesoftubes/secure_python.py
  tests/test_nodes/test_python_node.py
  tests/test_secure_python.py
Due: black, ruff, mypy, pytest

feat: implement file path security module
  src/seriesoftubes/file_security.py
  src/seriesoftubes/nodes/file.py
  tests/test_file_security.py
  tests/test_nodes/test_file_node_security.py
Due: black, ruff, mypy, pytest

fix: remove hardcoded JWT secret and add security validation
  .env.example
  .tubes.example.yaml
  README.md
  docs/security.md
  pyproject.toml
  src/seriesoftubes/api/auth.py
  src/seriesoftubes/api/main.py
  src/seriesoftubes/cli/generate_config.py
  src/seriesoftubes/cli/main.py
  src/seriesoftubes/config.py
  src/seriesoftubes/config_validation.py
  tests/test_config_validation.py
Due: black, ruff, mypy, pytest

feat: add Docker setup for Redis and PostgreSQL
  .env.example
  .gitignore
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/development-setup.md
  redis.conf
Due: none

feat: add Docker support for the application
  .dockerignore
  Dockerfile
  Dockerfile.worker
  docker-compose.override.yml
  docker-compose.yml
  docker-entrypoint.sh
  docs/development-setup.md
Due: none

feat: add Docker support for frontend
  docker-compose.yml
  docs/development-setup.md
  docs/docker-architecture.md
  frontend/.dockerignore
  frontend/.env.example
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/nginx.conf
Due: none

feat: add backend hot reload support in Docker
  Dockerfile.dev
  docker-compose.yml
  docs/docker-architecture.md
Due: none

fix: remove docker-compose.override.yml to fix profile conflicts
  docker-compose.override.yml
Due: none

docs: clarify configuration system and fix .tubes.yaml confusion
  .tubes.example.yaml
  README.md
  docs/configuration-guide.md
Due: none

docs: update README with current features and Docker setup
  Dockerfile.dev
  README.md
  docker-compose.yml
  src/seriesoftubes/config.py
Due: black, ruff, mypy, pytest

fix: update tests for RestrictedPython execution model
  tests/test_engine.py
  tests/test_execution_hypothesis.py
  tests/test_execution_status.py
  tests/test_nodes/test_conditional_node.py
  tests/test_nodes/test_foreach_node.py
  tests/test_nodes/test_schema_validation.py
  tests/test_nodes/test_transform_node_hypothesis.py
Due: black, ruff, mypy, pytest

test: add comprehensive API test coverage
  tests/test_api/test_auth_routes.py
  tests/test_api/test_execution_routes.py
  tests/test_api/test_workflow_routes.py
Due: black, ruff, mypy, pytest

test: improve API test coverage and mock OpenAI usage
  .env.example
  pyproject.toml
  src/seriesoftubes/api/execution_routes.py
  tests/test_api/test_endpoints.py
  tests/test_api/test_execution_routes.py
  tests/test_api/test_workflow_routes.py
  tests/test_integration/__init__.py
  tests/test_integration/test_llm_providers.py
  tests/test_nodes/test_llm_node.py
Due: black, ruff, mypy, pytest

fix: add psycopg2-binary and correct DATABASE_URL format
  docker-compose.yml
  pyproject.toml
Due: none

feat: add frontend service to docker-compose
  docker-compose.yml
Due: none

fix: rename frontend-dev service to avoid duplicate key
  docker-compose.yml
Due: none

fix: remove duplicate frontend-dev service definition
  docker-compose.yml
Due: none

fix: correct frontend port mapping for Vite
  docker-compose.yml
  frontend/Dockerfile.dev
Due: none

fix: configure dynamic Vite proxy for Docker networking
  docker-compose.yml
  frontend/vite.config.ts
Due: prettier, eslint, frontend-typecheck

fix: resolve multiple UI/UX issues and improve error handling
  docker-compose.yml
  docker-entrypoint.sh
  docs/guides/workflow-structure.md
  docs/reference/nodes/conditional.md
  docs/reference/nodes/llm.md
  frontend/src/api/client.ts
  frontend/src/components/WorkflowDetail/WorkflowDetail.tsx
  frontend/src/pages/Auth/LoginPage.tsx
  frontend/src/pages/Executions/ExecutionDetail.tsx
  frontend/src/stores/auth.ts
  frontend/src/templates/workflows.ts
Due: prettier, eslint, frontend-typecheck

feat: implement search functionality and fix execution duration display
  frontend/src/App.tsx
  frontend/src/components/WorkflowList/WorkflowList.tsx
  frontend/src/pages/Executions/ExecutionsPage.tsx
  frontend/src/pages/Workflows/WorkflowsPage.tsx
Due: prettier, eslint, frontend-typecheck

Path conditions:
  black: any of: ^(src/|tests/) and \.py$
  ruff: any of: ^(src/|tests/) and \.py$
  mypy: any of: ^(src/|tests/) and \.py$
  pytest: any of: ^(src/|tests/).*\.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|css|json)$, but not: ^frontend/(dist|node_modules)/
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/(dist|node_modules)/
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/(dist|node_modules)/
