Repository nelsonlove/seriesoftubes: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit config using local hooks - no dependency duplication!
# Requires: pip install -e ".[dev]" before using

repos:
  # Python tools - use whatever versions are installed locally
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: true
        require_serial: true

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: true
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        files: ^(src/|tests/)
        pass_filenames: true
        require_serial: true

      - id: pytest
        name: pytest
        entry: python -m pytest
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|tests/).*\.py$
        args: ["-v", "--tb=short"]

  # Generic file checks - these don't need project dependencies
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
        files: ^(src/|tests/)

  # Frontend tools - use local npm/node
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|css|json)$
        exclude: ^frontend/(dist|node_modules)/
        pass_filenames: true

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npx eslint --fix'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        exclude: ^frontend/(dist|node_modules)/
        pass_filenames: true

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        exclude: ^frontend/(dist|node_modules)/
        pass_filenames: false
        require_serial: true

feat: implement object storage infrastructure for file handling
  docker-compose.yml
  pyproject.toml
  src/seriesoftubes/api/file_routes.py
  src/seriesoftubes/api/main.py
  src/seriesoftubes/storage/__init__.py
  src/seriesoftubes/storage/base.py
  src/seriesoftubes/storage/factory.py
  src/seriesoftubes/storage/local.py
  src/seriesoftubes/storage/s3.py
Due: black, ruff, mypy, pytest

feat: implement object storage for workflow outputs and file management
  alembic/versions/a15dbfb85e3e_add_storage_keys_to_executions_table.py
  frontend/src/App.tsx
  frontend/src/pages/Executions/ExecutionDetail.tsx
  frontend/src/pages/Files/FilesPage.tsx
  src/seriesoftubes/api/execution.py
  src/seriesoftubes/api/execution_routes.py
  src/seriesoftubes/api/file_routes.py
  src/seriesoftubes/api/workflow_routes.py
  src/seriesoftubes/db/models.py
  src/seriesoftubes/engine.py
  src/seriesoftubes/models.py
  src/seriesoftubes/nodes/file.py
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

fix: support nested attribute access in node context mappings
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/RunWorkflowModal/RunWorkflowModal.tsx
  frontend/src/pages/Executions/ExecutionDetail.tsx
  frontend/src/pages/Files/FilesPage.tsx
  frontend/src/templates/workflows.ts
  src/seriesoftubes/api/file_routes.py
  src/seriesoftubes/api/models.py
  src/seriesoftubes/api/workflow_routes.py
  src/seriesoftubes/cli/main.py
  src/seriesoftubes/engine.py
  src/seriesoftubes/models.py
  src/seriesoftubes/nodes/base.py
  src/seriesoftubes/nodes/file.py
  tests/test_api/test_execution_routes.py
  tests/test_api/test_file_routes.py
  tests/test_nodes/test_file_node_storage.py
  tests/test_nodes/test_nested_context.py
  tests/test_storage.py
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

feat: improve OpenAI refusal handling with better logging and tests
  src/seriesoftubes/providers/openai.py
  tests/test_providers/__init__.py
  tests/test_providers/test_openai_refusals.py
Due: black, ruff, mypy, pytest

feat: add error details with node inputs for better debugging
  alembic/env.py
  alembic/versions/c8283a587f70_add_error_details_field_to_executions.py
  frontend/src/pages/Executions/ExecutionDetail.tsx
  frontend/src/types/workflow.ts
  src/seriesoftubes/api/execution_routes.py
  src/seriesoftubes/api/workflow_routes.py
  src/seriesoftubes/db/database.py
  src/seriesoftubes/db/models.py
  src/seriesoftubes/engine.py
  src/seriesoftubes/nodes/llm.py
  src/seriesoftubes/providers/anthropic.py
  src/seriesoftubes/providers/openai.py
  test-error-details-workflow.yaml
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

docs: add comprehensive Docker setup documentation
  README.md
Due: none

fix: resolve greenlet/async database issues
  docker-compose.yml
  src/seriesoftubes/api/execution.py
  src/seriesoftubes/db/database.py
Due: black, ruff, mypy, pytest

fix: improve SSE connection stability in ExecutionDetail
  frontend/src/pages/Executions/ExecutionDetail.tsx
Due: prettier, eslint, frontend-typecheck

feat: add error details with node inputs for better debugging
  src/seriesoftubes/nodes/python.py
  src/seriesoftubes/secure_python.py
Due: black, ruff, mypy, pytest

fix: resolve Docker security warnings
  .env.example
  Dockerfile.worker
  docker-compose.yml
Due: none

feat: add Celery task queue for workflow execution
  pyproject.toml
  src/seriesoftubes/api/execution_routes.py
  src/seriesoftubes/api/workflow_routes.py
  src/seriesoftubes/celery_config.py
  src/seriesoftubes/tasks.py
Due: black, ruff, mypy, pytest

fix: resolve event loop conflicts in SSE progress tracking
  docker-compose.yml
  examples/streaming_python_test.yaml
  frontend/src/api/client.ts
  frontend/src/components/PythonNodeOutput.tsx
  frontend/src/pages/Executions/ExecutionDetail.tsx
  src/seriesoftubes/api/auth.py
  src/seriesoftubes/api/execution.py
  src/seriesoftubes/api/execution_routes.py
  src/seriesoftubes/api/execution_sync.py
  src/seriesoftubes/api/workflow_routes.py
  src/seriesoftubes/celery_config.py
  src/seriesoftubes/nodes/python_streaming.py
  src/seriesoftubes/secure_python_streaming.py
  src/seriesoftubes/tasks_sync.py
  tests/test_conftest.py
Due: black, ruff, mypy, pytest, prettier, eslint, frontend-typecheck

fix: add _print_ function for RestrictedPython compatibility
  src/seriesoftubes/secure_python.py
Due: black, ruff, mypy, pytest

fix: add timeouts to LLM provider API calls
  src/seriesoftubes/providers/anthropic.py
  src/seriesoftubes/providers/openai.py
Due: black, ruff, mypy, pytest

fix: resolve SQLAlchemy greenlet error in workflow creation
  src/seriesoftubes/api/workflow_routes.py
Due: black, ruff, mypy, pytest

fix: resolve additional SQLAlchemy greenlet error in workflow update
  src/seriesoftubes/api/workflow_routes.py
Due: black, ruff, mypy, pytest

fix: add synchronous HTTP executor and proper event loop cleanup for Celery workers
  src/seriesoftubes/api/execution_sync.py
  src/seriesoftubes/nodes/http_sync.py
  src/seriesoftubes/tasks_sync.py
Due: black, ruff, mypy, pytest

feat: add regex_search filter to Jinja2 template engine
  src/seriesoftubes/template_engine.py
Due: black, ruff, mypy, pytest

fix: use secure template engine in transform node for regex_search support
  src/seriesoftubes/nodes/transform.py
Due: black, ruff, mypy, pytest

fix: add missing except block in transform node template rendering
  src/seriesoftubes/nodes/transform.py
Due: black, ruff, mypy, pytest

feat: implement node-level caching with debugging and configuration
  examples/cache-config-demo.yaml
  src/seriesoftubes/api/cache_routes.py
  src/seriesoftubes/api/main.py
  src/seriesoftubes/cache/manager.py
  src/seriesoftubes/engine.py
  src/seriesoftubes/models.py
  src/seriesoftubes/schemas/workflow-schema.yaml
Due: black, ruff, mypy, pytest
